# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio
.vs/
*.user
*.userosscache
*.suo
*.csproj.user
*.vbproj.user
*.vcxproj.user

# Visual Studio Code
.vscode/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
TestResult.xml

# Build Results of an ATL Project
[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

# Benchmark Results
BenchmarkDotNet.Artifacts/

# Others
[Ss]tyle[Cc]op.*
database.json
*.VC.db
*.VC.VC.opendb

# Settings
Settings.StyleCop

# Publish Profiles
publish/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Cake
tools/
Cake.Bakery/tools/

# JetBrains Rider
_ReSharper*/
*.[Rr]e[Ss]harper
*.[Rr]e[Ss]harper.[Cc]ache
*.DotSettings.user

# Local .NET Tools
.local.tooling/